In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Minyeong\Desktop\NYPD_Motor_Vehicle_Collisions_.csv')

C:\Users\Minyeong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head(3)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,12/29/2018,19:45,NaN,NaN,NaN,NaN,NaN,EAST BEDFORD PARK BOULEVARD,NaN,NaN,...,NaN,NaN,NaN,NaN,4055860,Sedan,NaN,NaN,NaN,NaN
1,12/24/2018,10:00,NaN,NaN,NaN,NaN,NaN,CROSS ISLAND PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4055249,Sedan,NaN,NaN,NaN,NaN
2,12/17/2018,14:30,NaN,NaN,40.75927,-73.980896,"(40.75927, -73.980896)",WEST 49 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,4047978,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [4]:
df['NUMBER OF CYCLIST INJURED'].describe()

count    982027.000000
mean          0.020697
std           0.143692
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           3.000000
Name: NUMBER OF CYCLIST INJURED, dtype: float64

In [5]:
df['NUMBER OF CYCLIST KILLED'].describe()

count    982027.000000
mean          0.000078
std           0.008969
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: NUMBER OF CYCLIST KILLED, dtype: float64

In [43]:
df['NUMBER OF PERSONS INJURED'].describe()

count    982010.000000
mean          0.256911
std           0.652444
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          32.000000
Name: NUMBER OF PERSONS INJURED, dtype: float64

In [44]:
type(df['DATE'][0])

numpy.int64

In [45]:
df['DATE']=pd.to_datetime(df['DATE'])

In [46]:
type(df['DATE'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [47]:
df['DATE'] = df['DATE'].map(lambda x: x.year)

In [48]:
df['DATE']

0         1970
1         1970
2         1970
3         1970
4         1970
5         1970
6         1970
7         1970
8         1970
9         1970
10        1970
11        1970
12        1970
13        1970
14        1970
15        1970
16        1970
17        1970
18        1970
19        1970
20        1970
21        1970
22        1970
23        1970
24        1970
25        1970
26        1970
27        1970
28        1970
29        1970
          ...
981997    1970
981998    1970
981999    1970
982000    1970
982001    1970
982002    1970
982003    1970
982004    1970
982005    1970
982006    1970
982007    1970
982008    1970
982009    1970
982010    1970
982011    1970
982012    1970
982013    1970
982014    1970
982015    1970
982016    1970
982017    1970
982018    1970
982019    1970
982020    1970
982021    1970
982022    1970
982023    1970
982024    1970
982025    1970
982026    1970
Name: DATE, Length: 982027, dtype: int64

In [49]:
df2 = df.loc[df['DATE'] == 2016]
df2

Empty DataFrame
Columns: [DATE, TIME, BOROUGH, ZIP CODE, LATITUDE, LONGITUDE, LOCATION, ON STREET NAME, CROSS STREET NAME, OFF STREET NAME, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, NUMBER OF PEDESTRIANS INJURED, NUMBER OF PEDESTRIANS KILLED, NUMBER OF CYCLIST INJURED, NUMBER OF CYCLIST KILLED, NUMBER OF MOTORIST INJURED, NUMBER OF MOTORIST KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, CONTRIBUTING FACTOR VEHICLE 3, CONTRIBUTING FACTOR VEHICLE 4, CONTRIBUTING FACTOR VEHICLE 5, UNIQUE KEY, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2, VEHICLE TYPE CODE 3, VEHICLE TYPE CODE 4, VEHICLE TYPE CODE 5]
Index: []

[0 rows x 29 columns]

In [50]:
df2.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [51]:
df2['NUMBER OF CYCLIST INJURED'].count()

0

In [52]:
df2['NUMBER OF CYCLIST KILLED'].count()

0

In [53]:
df2.describe()

,DATE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,UNIQUE KEY
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df2['UNIQUE KEY'].count()

0

In [55]:
df3 = df2.groupby(['ZIP CODE'])['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'].agg([('Counts of vehicles', 'count')])
df3.head()

Empty DataFrame
Columns: [(CONTRIBUTING FACTOR VEHICLE 1, Counts of vehicles), (CONTRIBUTING FACTOR VEHICLE 2, Counts of vehicles), (CONTRIBUTING FACTOR VEHICLE 3, Counts of vehicles), (CONTRIBUTING FACTOR VEHICLE 4, Counts of vehicles), (CONTRIBUTING FACTOR VEHICLE 5, Counts of vehicles)]
Index: []

In [56]:
df3.sum(axis=1).max()

nan

In [57]:
df3.sum(axis=1).sort_values(ascending=False).head()

Series([], dtype: int64)

In [58]:
df['CONTRIBUTING FACTOR VEHICLE 1'].describe()

count          978939
unique             61
top       Unspecified
freq           294535
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: object

In [59]:
df['CONTRIBUTING FACTOR VEHICLE 2'].describe()

count          846807
unique             61
top       Unspecified
freq           696207
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: object

In [60]:
df['CONTRIBUTING FACTOR VEHICLE 3'].describe()

count           62709
unique             48
top       Unspecified
freq            57741
Name: CONTRIBUTING FACTOR VEHICLE 3, dtype: object

In [61]:
df.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')